.App {
  text-align: center;
}

.jumbotron{
  background-image: url("https://c1.wallpaperflare.com/preview/27/55/620/matrix-heart-love-communication.jpg");
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
}

.dropdown{
  background-color: #e0120f;
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-3{
  color: white;
  text-shadow: 1px 1px black
}

.lead {
  color: white;
  text-shadow: 1px 1px black
}

.nav-link {
  color:white;
}

.card {
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}